In [1]:
print("Hello World")

Hello World

In [2]:
world = "World"
print("Hello "+world)

Hello World

## Hello World

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [5]:
x = 10
x

10

In [7]:
x = [12,23,123,123,123]
for i in x:
    print(i)

12
23
123
123
123

In [9]:
x = {1,12,1,'32',5,'3'}
for i in x: 
    print(i)

1
3
5
12
32

In [10]:
typeof x

SyntaxError: invalid syntax (155200337.py, line 1)

In [11]:
type(x)

set

In [16]:
num = int(input('Enter a number: '))
print("hay number is "+str(num))

Enter a number: 21
hay number is 21

In [20]:
try: 
    num =  int(input("Enter hello world: "))
except ValueError as er:
    print("Hellow \n"+str(er))

Enter hello world: daoifnaf
Hellow
invalid literal for int() with base 10: 'daoifnaf'

In [22]:
num = -10
result = -1 if num < 0 else 1
result

-1

In [24]:
a = 10
b = 3
a,b = b,a

print(a)
print(b)

3
10

In [28]:
a = 5
b = 6

c  = a/b
print(type(c))

d = a//b
print(type(d))

<class 'float'>
<class 'int'>

In [38]:
a = 'healod'

a[-1:]

'd'

In [39]:
b = "Accra is the most densely populated city in Ghana"
newb = b.split("a")
print(newb)

['Accr', ' is the most densely popul', 'ted city in Gh', 'n', '']

In [45]:
currencies = "USD,GBP,JPY,EUR"
curr = currencies.split(sep=",")
curr

['USD', 'GBP', 'JPY', 'EUR']

In [50]:
list3 = [7.89, 'martina',[1,2,6]]
list3[2][0]

1

In [51]:
tuples  = (1,31,213)
tuples

(1, 31, 213)

In [52]:
type(tuples)

tuple

In [53]:
my_str = 'martina'
my_str[0] = 'x';
my_str

TypeError: 'str' object does not support item assignment